<html>
<head>
<script src="http://localhost:8000/static/Orbited.js"></script>
</head>

<body>

<script type="text/javascript">
var socket = new Orbited.TCPSocket(); // Orbited.settings.port defaults to 8000
socket.onerror = function() { alert('error'); }
socket.onopen = function() { alert('open'); };
socket.onclose = function() { alert('close'); }
socket.onread = function(s) { alert("Received string through comet -- " + s); }
socket.open("myserver.org", 9000);
</script>
Hello world!

</body>
</html>
